<div class="container">
  <div class="row">


    <div class="col-md-6 mt-3">



      <form action="/admin/edit-product/<%= product._id %> " method="post" enctype="multipart/form-data">
      <label for="Name">Name</label>
      <input type="text" name="name" class="form-control" value="<%=product.name %>">

      <div class="form-group">
                    
                   
        <label for="exampleInputName1">catagory</label>
        <select class="form-control" name="catogory" id="exampleSelectGender">
            <% category.forEach((category)=>{ %> 
            <option value="<%= category.name %> "><%= category.name %> </option>
            <% }) %> 
        </select>
       
    
</div>
      <label for="Name">price</label>
      <input type="tel" name="price" class="form-control" value="<%=product.price %>">

      <label for="description">Description</label>
      <textarea name="description" class="form-control" cols="30" rows="10" value=""><%=product.description %></textarea>

      <label for="">Image</label>
      <input type="file" name="image" class="form-control">

      <button type="submit" class="btn btn-primary mt-3" value="Upload">Upload</button>

      </form>






    </div>

  </div>
</div>